[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Guilherme Henrique
	email = guihenriquesilva10@gmail.com
[core]
	editor = code --wait
